@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">

            <div class="item"><img src="~/assets/img/slide1/slider-image.jpg" alt="Mirror Edge"></div>
  >

        </div>
    </div>

    <div class="container slider-content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
            <h2>HAYALİNDEKİ EV BURADA!</h2>
            <p></p>

              <div class="search-form wow pulse" data-wow-delay="0.8s">

                            <form action="" class=" form-inline">
                                <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Key word">
                                </div>
                        <button class="btn  toggle-btn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>

                 

                        

                        

                      
                  
                


        </div>
    </div>
</div>
       


